.my-questions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.my-questions-container {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px; /* 가로 길이를 넓혔습니다 */
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    text-align: left;
    position: relative;
    color: #fff;
}

.my-questions-container h2 {
    margin-top: 0;
}

.my-questions-container .btn {
    margin-bottom: 20px;
}

.question-list {
    margin: 0 auto;
    width: 100%; /* 목록의 너비를 100%로 설정 */
}

.question-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question-item {
    background: #2b2b2b;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr; /* 각 컬럼을 한 줄에 표시 */
    align-items: center;
    gap: 10px;
}

.question-item span {
    text-align: left;
}

.question-item .question-answer {
    text-align: right;
    justify-self: end; /* 답변 상태를 오른쪽 끝으로 이동 */
}

.my-questions-container {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.my-questions-container h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
}

.my-questions-container .btn {
    margin-bottom: 20px;
}
