.social-btn {
    color: azure;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn:hover {
    color:aliceblue;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}