.weka-page-container {
    background-color: #1f1f1f;
    color: #fff;
    min-height: calc(100vh - 60px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2-top-text {
    margin-bottom: 20px;
}

.closest-saturday {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}

.weka-page-container-case {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    justify-items: center;
}

.case-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 250px;
    margin: 10px;
    cursor: pointer;
}

.number-box-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.number-box {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.weka-page-container .disabled {
    pointer-events: none;
    opacity: 0.6;
}

.info-text {
    margin-bottom: 20px;
    font-size: 16px;
}

.already-received-text {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}