.signup-container {
    background-color: rgb(31, 31, 31);
    min-height: calc(100vh - 60px);
    text-align: center;
}


.signup-content {
    background: rgb(25, 25, 25);
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.login-link {
    color: azure;
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: azure;
}

.error-message {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}